.l-navbar {
    background-color: var(--color-main);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    height: var(--header-height);
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    @include responsive(large) {
        --header-height: 4rem;
    }
}

.l-slide {
    margin-top: var(--header-height);
    @include responsive(large) {
        --header-height: 4rem;
    }
}

.l-section {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10rem;
    width: 100%;

    @include responsive(medium) {
        padding-top: 5rem;
    }
    @include responsive(small) {
        padding-top: 3rem;
    }
}

.l-footer {
    background-color: #08031A;
    margin-top: 4rem;
    height: 250px;

    @include responsive(600px) {
        height: 450px;
        padding: 2rem 0 0 0;
    }
    @include responsive(small) {
        height: 500px;
    }
}

.l-copyright {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid darken(#fff, 60);



    @include responsive(330px) {
        flex-direction: column-reverse;
        padding: .3rem;
        justify-content: center;
    }
}