*,*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font);
    background: var(--color-body);
}

body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 5px;
    background-color: var(--color-secondary);
}

body::-webkit-scrollbar-track {
    background-color: #c9c9c9;
}

img {
    max-width: 100%;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a,li,ul {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
}




