*,*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font);
    background: var(--color-body);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
}