.about {
    margin-top: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    .global-title-about {
        font-size: 1.1rem;
        color: var(--color-secondary);
        font-weight: 500;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        &::before {
            content: 'NOSOTROS';
            position: absolute;
            font-size: 80px;
            opacity: .4;
        }
        @include responsive(medium) {
            &::before {
                font-size: 60px;
            }
        }
        @include responsive(small) {
            font-size: 15px;
            &::before {
                bottom: 10px;
                font-size: 40px;
            }
        }
    }

    &-content {
        margin-top: 3rem;
        justify-content: center;
        display: flex;
        margin-bottom: 10rem;
        background-color: var(--color-main-dark);
        padding: 5rem 3rem;
        border-radius: 20px;
        box-shadow: 1px 2px 8px 2px var(--color-secondary);
    }

    &-paragraph {
        color: darken(#fff, 30);
        font-size: 14px;
        text-align: center;
        max-width: map-get($map: $breakpoints, $key: xlarge);
    }

    @include responsive(medium) {
        margin-top: 8rem;
        &-content {
            margin-top: 1rem;
            margin-bottom: 5rem;
        }
    }

    @include responsive(small) {
        padding-left: .2rem;
        padding-right: .2rem;
        &-paragraph {
            font-size: 13px;
        }
    }
}