.footer {
    height: 100%; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 1fr;
    padding-left: 1rem;
    padding-right: 1rem;

    &-icon {
        color: var(--color-secondary);
        cursor: pointer;
        margin-left: 1rem;
        opacity: .7;

        &:hover {
            opacity: .99;
        }
    }

    &-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: end;
    }

    &-image {
        height: 130px;
    }

    &-list {
        justify-self: start;
    }

    &-item {
        padding: 3px 5px;
    }

    &-item-bem {
        font-size: 30px;
        color: darken(#fff, 10);
        text-transform: uppercase;
    }

    &-link {
        color: darken(#fff, 20);
        font-size: 14px;
        position: relative;
        left: 0;
        transition: all .3s ease-in-out;
        &:hover {
            position: relative;
            left: 10px;
            transition: left .3s ease-in-out;
            color: var(--color-secondary);
        }
    }

    @include responsive(600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 80% 20%;

        &-top {
            grid-template-columns: 1fr;
            justify-items: center;
            grid-row-gap: 1rem;
        }
        &-list {
            justify-self: center;
            text-align: center;
        }
        &-icon {
           font-size: 20px;
        }
    }
    @include responsive(510px) {
        grid-template-rows: 80% 20%;
    }
    @include responsive(small) {
        
    }
}